<h1>groups</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>View name</th>
    <th>Sort</th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><%= group.view_name %></td>
    <td>
      <%= link_to '▲', groups_sort_change_path({:id => group.id, :s => 'up'}) %>
      <%= link_to '▼', groups_sort_change_path({:id => group.id, :s => 'down'}) %>
    </td>
    <td><%= link_to '追加', new_member_path(group) %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>

