<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>View name:</b>
  <%= @group.view_name %>
</p>

<table border=1>
  <tr>
    <th>Name</th>
    <th>View name</th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr bgcolor='<%= member.color.rgb %>'>
    <td><%= link_to member.name, member %></td>
    <td><%= member.view_name %></td>
    <td><%= link_to 'Edit', edit_member_path(member, :back_to => request.env['REQUEST_URI']) %></td>
  </tr>
<% end %>
</table>


<%= link_to 'member作成', new_member_path(@group) %><br>
<br>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
