<h1>colors</h1>

<table border=1>
  <tr>
    <th>Name</th>
    <th>View name</th>
    <th>RGB</th>
    <th>Sort</th>
    <th></th>
  </tr>

<% @colors.each do |color| %>
  <tr>
    <td bgcolor="<%= color.rgb %>"><%= link_to color.name, color %></td>
    <td bgcolor="<%= color.rgb %>"><%= color.view_name %></td>
    <td bgcolor="<%= color.rgb %>"><%= color.rgb %></td>
    <td>
      <%= link_to '▲', colors_sort_change_path({:id => color.id, :s => 'up'}) %>
      <%= link_to '▼', colors_sort_change_path({:id => color.id, :s => 'down'}) %>
    </td>
    <td><%= link_to 'Edit', edit_color_path(color) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Color', new_color_path %>
