<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @color.name %>
</p>

<p>
  <b>View name:</b>
  <%= @color.view_name %>
</p>

<p>
  <b>Rgb:</b>
  <%= @color.rgb %>
</p>

<table border=1>
  <tr bgcolor='<%= @color.rgb %>'>
    <th>Name</th>
    <th>View name</th>
    <th>Group</th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= link_to member.name, member %></td>
    <td><%= member.view_name %></td>
    <td><%= member.group.view_name %></td>
    <td><%= link_to 'Edit', edit_member_path(member, :back_to => request.env['REQUEST_URI']) %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_color_path(@color) %> |
<%= link_to 'Back', colors_path %>
