<!DOCTYPE html>
<html>
<head>
  <title>LoveColor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="menu">
  <table>
    <tr>
	    <td>
	      <b>link</b>
				  <%= link_to "index", '/' %>
				  <%= link_to "group", :groups %>
				  <%= link_to "color", :colors %>
				  <%= link_to "member", :members %>
		</td>
	</tr>
  </table>
</div>
<%= yield %>

</body>
</html>
