<h1>Listing members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>View name</th>
    <th>Group</th>
    <th>Color</th>
    <th>Push flg</th>
    <th>Center flg</th>
    <th>Graduation flg</th>
    <th>Deleted</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.name %></td>
    <td><%= member.view_name %></td>
    <td><%= member.group_id %></td>
    <td><%= member.color_id %></td>
    <td><%= member.push_flg %></td>
    <td><%= member.center_flg %></td>
    <td><%= member.graduation_flg %></td>
    <td><%= member.deleted %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

